<font color="green">*To start working on this notebook, or any other notebook that we will use in the Moringa Data Science Course, we will need to save our own copy of it. We can do this by clicking File > Save a Copy in Drive. We will then be able to make edits to our own copy of this notebook.*</font>

# Python Data Cleaning and Analysis - Population by Type of Disability

## 1.0 Importing our Libraries

In [77]:
# Importing the libraries we will need 

# Importing the pandas library
# 
import pandas as pd

# Importing the numpy library
#
import numpy as np

## 1.1 Reading the Dataset from our CSV file



The dataset we will use contains the percentage distribution of population by type of disability for Kenyan counties. 


*   Dataset link for download or access: [Link](https://drive.google.com/a/moringaschool.com/file/d/13twDwhbJqBr1Dvmlwzv6Mou-irul77cS/view?usp=sharing)

In [78]:
# Let's read the data from the CSV file and create the dataframe to be used
# 

f = 'Percentage_Distribution_of_Population_by_type_of_Disability_County_Estimates2005_6.csv'
D = pd.read_csv(f)

## 1.2 Previewing our Dataset

In [79]:
# Let's preview the first 10 rows of our data
# 
D.head(10)

            County Missing_Hand  ...              Location_1 OBJECTID
0          Baringo        10.9%  ...   (0.512912, 35.952537)        0
1            Bomet           0%  ...  (-0.690131, 35.278005)        1
2          Bungoma        12.3%  ...   (0.737046, 34.672536)        2
3            Busia           0%  ...   (0.428414, 34.210571)        3
4  Elgeyo Marakwet           0%  ...   (0.806011, 35.564093)        4
5             Embu           0%  ...    (-0.5982, 37.653906)        5
6          Garissa           0%  ...  (-0.564679, 40.408457)        6
7         Homa Bay         2.1%  ...  (-0.640985, 34.411083)        7
8           Isiolo        13.9%  ...   (0.949302, 38.614718)        8
9          Kajiado           0%  ...  (-2.221971, 36.980268)        9

[10 rows x 13 columns]

## 1.3 Accessing Information about our Dataset

In [80]:
# Getting to know more about the dataset by accessing its information
# 
D.describe()
#D['Total_Count'].corr()

         Total_Count  OBJECTID
count      48.000000     48.00
mean    16774.087500     23.50
std     57305.323515     14.00
min       420.100000      0.00
25%      3320.200000     11.75
50%      6525.050000     23.50
75%     11940.675000     35.25
max    402578.100000     47.00

## 1.4 Cleaning our Dataset

Let us perform data cleaning procedures below providing a documentation for our actions and reasons. We will perform as many data cleaning procedures as we think suitable for the various dimensions of data.

### 1.41) Validity: <font color="green">Challenges</font>

In [81]:
# Procedure 1: Irrelevant Data Observation
# Data Cleaning Action: Dropping Location_1 attribute
# Explanation: We won't need it during Analysis. No question to be answered requires that column.
#
D.drop(['Location_1'], axis=1, inplace=True)
D.head(5)

            County Missing_Hand Missing_Foot  ...  Other Total_Count OBJECTID
0          Baringo        10.9%         2.8%  ...  10.9%      6512.1        0
1            Bomet           0%           0%  ...  38.7%      6538.0        1
2          Bungoma        12.3%           0%  ...  21.9%     13170.6        2
3            Busia           0%           0%  ...  31.4%      6655.5        3
4  Elgeyo Marakwet           0%           0%  ...   7.4%      3599.9        4

[5 rows x 12 columns]

In [82]:
# Procedure 2: Irrelevant Data Observation
# Data Cleaning Action: Drop OBJECTID attribute
# Explanation: Its irrelevant to our table i.e. attribute starts from 0 and ends of 48 i.e. No meaning at all.
# 
D.drop(['OBJECTID'], axis=1, inplace=True)
D.head(5)

            County Missing_Hand Missing_Foot  ... Paralyzed  Other Total_Count
0          Baringo        10.9%         2.8%  ...     54.2%  10.9%      6512.1
1            Bomet           0%           0%  ...      0.3%  38.7%      6538.0
2          Bungoma        12.3%           0%  ...        0%  21.9%     13170.6
3            Busia           0%           0%  ...     14.8%  31.4%      6655.5
4  Elgeyo Marakwet           0%           0%  ...     12.6%   7.4%      3599.9

[5 rows x 11 columns]

In [83]:
# Procedure 3:
# Data Cleaning Action:
# Explanation:
#
# We can use the str.strip function on the respective column name to strip the leading and trailing spaces  

D['County'] = D['County'].str.strip()

# Displaying the resulting dataframe
D['County'].head(5)

#checking for errors/anomalies in records
D['County'].unique()

#dropping last record(not relevant)
D.drop(47, inplace=True)
D.tail(5)

         County Missing_Hand Missing_Foot  ... Paralyzed  Other Total_Count
42      Turkana           0%           0%  ...     92.2%     0%      1733.1
43  Uasin Gishu           0%           0%  ...      7.2%  58.1%      9281.6
44       Vihiga           0%           0%  ...        0%  26.9%     23490.6
45        Wajir         1.3%         5.2%  ...     15.8%     0%      9276.5
46   West Pokot           0%          14%  ...     30.9%  12.6%      4874.2

[5 rows x 11 columns]

In [ ]:
# Procedure 4:
# Data Cleaning Action:
# Explanation:
#
OUR CODE GOES HERE

### 1.42) Accuracy <font color="green">Challenges</font>

In [84]:
# Procedure 1:
# Data Cleaning Action:
# Explanation:
#
tp = D['Missing_Foot'] + D['Missing_Hand'] + D['Lame'] + D['Blind'] + D['Deaf'] + D['Dumb'] + D['Mental'] + D['Other']
D[D['Paralyzed'] != tp]

#paralyzed column does not add up, so dropping it
D.drop(['Paralyzed'], axis=1, inplace=True)
D.head(5)

            County Missing_Hand Missing_Foot  ... Mental  Other Total_Count
0          Baringo        10.9%         2.8%  ...  12.4%  10.9%      6512.1
1            Bomet           0%           0%  ...  14.2%  38.7%      6538.0
2          Bungoma        12.3%           0%  ...  12.7%  21.9%     13170.6
3            Busia           0%           0%  ...   4.8%  31.4%      6655.5
4  Elgeyo Marakwet           0%           0%  ...    20%   7.4%      3599.9

[5 rows x 10 columns]

### 1.43) Completeness <font color="green">Challenges</font>

In [85]:
# Procedure 1:
# Data Cleaning Action:
# Explanation:
#
#check for any missing values(by column)
D.isnull().any()

D.isnull().values.any() #all records aggregated

False

In [86]:
# Procedure 2:
# Data Cleaning Action:
# Explanation:
#if there were any nulls
D.dropna(inplace=True)
D.head(5)

            County Missing_Hand Missing_Foot  ... Mental  Other Total_Count
0          Baringo        10.9%         2.8%  ...  12.4%  10.9%      6512.1
1            Bomet           0%           0%  ...  14.2%  38.7%      6538.0
2          Bungoma        12.3%           0%  ...  12.7%  21.9%     13170.6
3            Busia           0%           0%  ...   4.8%  31.4%      6655.5
4  Elgeyo Marakwet           0%           0%  ...    20%   7.4%      3599.9

[5 rows x 10 columns]

### 1.44) Consitency: <font color="green">Challenges</font>

In [87]:
# Procedure 1: Duplicates
# Data Cleaning Action: No action taken
# Explanation: There were no duplicate instances
#
D.duplicated
D['County'].value_counts()

Lamu               1
Kisii              1
Laikipia           1
Kiambu             1
Kakamega           1
Siaya              1
Nyandarua          1
Nakuru             1
Isiolo             1
Makueni            1
Samburu            1
West Pokot         1
Kisumu             1
Narok              1
Migori             1
Mandera            1
Bomet              1
Taita Taveta       1
Busia              1
Uasin Gishu        1
Nairobi            1
Tana River         1
Murang'a           1
Tharaka Nithi      1
Trans Nzoia        1
Kitui              1
Bungoma            1
Homa Bay           1
Nandi              1
Kirinyaga          1
Mombasa            1
Elgeyo Marakwet    1
Garissa            1
Vihiga             1
Meru               1
Wajir              1
Nyamira            1
Kwale              1
Machakos           1
Baringo            1
Turkana            1
Nyeri              1
Marsabit           1
Kilifi             1
Kajiado            1
Embu               1
Kericho            1
Name: County, dtype: int64

### 1.45) Uniformity: <font color="green">Challenges<font/>

In [88]:
# Procedure 1: 
# Data Cleaning Action:
# Explanation:
#
D.head(5)
#standardize column names
D.columns = D.columns.str.strip().str.lower()
#changing dataframe name to indicate it shows %
D_pct = D
D_pct.head(5)

            county missing_hand missing_foot  ... mental  other total_count
0          Baringo        10.9%         2.8%  ...  12.4%  10.9%      6512.1
1            Bomet           0%           0%  ...  14.2%  38.7%      6538.0
2          Bungoma        12.3%           0%  ...  12.7%  21.9%     13170.6
3            Busia           0%           0%  ...   4.8%  31.4%      6655.5
4  Elgeyo Marakwet           0%           0%  ...    20%   7.4%      3599.9

[5 rows x 10 columns]

In [89]:
# Procedure 2:
# Data Cleaning Action:
# Explanation:

#check the data types
D_pct.dtypes

#drop % signs in the data and convert the columns with numbers to float
def p_drop(vals):
  return float(vals.replace("%",""))

#missing hand column
D_pct['missing_hand'] = D_pct['missing_hand'].map(p_drop)

#missing foot column
D_pct['missing_foot'] = D_pct['missing_foot'].map(p_drop)

#lame column
D_pct['lame'] = D_pct['lame'].map(p_drop)

#blind column
D_pct['blind'] = D_pct['blind'].map(p_drop)

#deaf column
D_pct['deaf'] = D_pct['deaf'].map(p_drop)

#dumb column
D_pct['dumb'] = D_pct['dumb'].map(p_drop)

#mental column
D_pct['mental'] = D_pct['mental'].map(p_drop)

#other column
D_pct['other'] = D_pct['other'].map(p_drop)
D_pct.head(5)
D_pct.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 47 entries, 0 to 46
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   county        47 non-null     object
 1   missing_hand  47 non-null     float64
 2   missing_foot  47 non-null     float64
 3   lame          47 non-null     float64
 4   blind         47 non-null     float64
 5   deaf          47 non-null     float64
 6   dumb          47 non-null     float64
 7   mental        47 non-null     float64
 8   other         47 non-null     float64
 9   total_count   47 non-null     float64
dtypes: float64(9), object(1)
memory usage: 4.0+ KB

### Exporting the Cleaned Dataset

In [90]:
# Let's export our dataframe into a csv file as shown 
# in the example given in the following line;
# daframe.to_csv('example.csv')
# In the above case daframe is the dataframe which would like to export.
# we use the to_csv function to create a csv file with the name example 
# and export it
#

D_pct.to_csv('disability.csv')

## 1.5 Answering Questions

Let's answer the following questions with our dataset using python.

In [104]:
# Challenge 1
# Which county had the highest no. of registered deaf persons?
# 
D_pct.head(5)
y = D_pct.groupby('county')['deaf'].sum()
y.sort_values(ascending=False).head(1)


#y = df[df['Year_Text'] > '2007']
#df.dtypes
#y.loc[:,['No_of_Visitors_to_Kenya', 'Year_Text']].max()
#y_list = list(y)

county
Nyamira    50.2
Name: deaf, dtype: float64

In [105]:
# Challenge 2
# Which county had the highest no. of registered persons with a missing hand?
#
mh = D_pct.groupby('county')['missing_hand'].sum()
mh.sort_values(ascending=False).head(1)

county
Nyandarua    21.2
Name: missing_hand, dtype: float64

In [106]:
# Challenge 3
# Which county had the highest no. of registered persons with a missing foot?
# 
mf = D_pct.groupby('county')['missing_foot'].sum()
mf.sort_values(ascending=False).head(1)

county
Garissa    37.1
Name: missing_foot, dtype: float64

In [107]:
# Challenge 4
# Which county had the highest no. of registered lame persons?
# 
l = D_pct.groupby('county')['lame'].sum()
l.sort_values(ascending=False).head(1)

county
Embu    55.1
Name: lame, dtype: float64

In [108]:
# Challenge 5
# Which county had the lowest no. of registered blind persons?
# 
b = D_pct.groupby('county')['blind'].sum()
b.sort_values(ascending=True).head(1)

county
Kisumu    0.0
Name: blind, dtype: float64

In [119]:
# Challenge 6
# Which county had the highest third no. of registered deaf persons?
# 
dfp = D_pct.groupby('county')['deaf'].sum()
#(dfp.sort_values(ascending=False).head(3)).min()
dfp.sort_values(ascending=False).head(3)

county
Nyamira            50.2
Elgeyo Marakwet    35.7
Tharaka Nithi      29.3
Name: deaf, dtype: float64

In [120]:
# Challenge 7
# In descending order, which top 5 counties had the highest no. of registered dumb persons?
# 
d = D_pct.groupby('county')['dumb'].sum()
d.sort_values(ascending=False).head(5)

county
Laikipia    54.8
Nyamira     54.5
Murang'a    41.4
Kitui       36.4
Busia       35.5
Name: dumb, dtype: float64

In [123]:
# Challenge 8
# In ascending order, which top 5 counties had the highest no. of registered persons with a mental disability? 
# 
m = D_pct.groupby('county')['mental'].sum()
m.sort_values(ascending=False).head(5)

county
Taita Taveta     83.1
Kiambu           70.7
Kirinyaga        66.4
Kwale            50.5
Tharaka Nithi    41.4
Name: mental, dtype: float64

In [127]:
# Challenge 9
# Which counties had no registerd blind persons nor deaf persons?
# 
b = D_pct[D_pct['blind'] == 0]
d = b[b['deaf'] == 0]
d

          county  missing_hand  missing_foot  ...  mental  other  total_count
5           Embu           0.0           0.0  ...     3.0   41.8       6287.4
6        Garissa           0.0          37.1  ...    11.3   51.6       1864.1
14     Kirinyaga           0.0           0.0  ...    66.4    0.0       2522.8
16        Kisumu           7.6           0.0  ...    17.7   41.4      20026.3
19      Laikipia           0.0           0.0  ...     0.0    0.0       1825.7
20          Lamu           0.0           0.0  ...     8.6   65.3        524.9
21      Machakos           0.0           0.0  ...    18.8   58.9      23460.4
25          Meru           0.0           0.0  ...    12.3   57.2      19166.3
30        Nakuru           0.4           0.0  ...    33.6   15.7      21598.0
38  Taita Taveta           0.0           3.7  ...    83.1    5.9       3709.8
43   Uasin Gishu           0.0           0.0  ...    27.3   58.1       9281.6

[11 rows x 10 columns]

In [133]:
# Challenge 10
# Which disability was the most registered across all the counties?
# 
ad = D_pct[['missing_hand','missing_foot','lame','blind','deaf','dumb','mental','other']].max()
ad.sort_values(ascending=False).head(1)

mental    83.1
dtype: float64

In [135]:
# Challenge 11
# Which disability was the least registered across all the counties?
#
ad1 = D_pct[['missing_hand','missing_foot','lame','blind','deaf','dumb','mental','other']].max()
ad1.sort_values(ascending=True).head(1)

missing_hand    21.2
dtype: float64

In [138]:
# Challenge 12
# What was the average no. of registered persons with a disability?
#
D_pct['total_count'].mean()

8565.491489361699

In [140]:
# Challenge 13
# Which three counties had least registered persons with disabilities?
#
lr = D_pct.groupby('county')['total_count'].sum()
lr.sort_values(ascending=True).head(3)

county
Tharaka Nithi     420.1
Lamu              524.9
Turkana          1733.1
Name: total_count, dtype: float64

In [141]:
# Challenge 14
# What was the total no of registered persons with a disability across all counties?
#
D_pct['total_count'].sum()

402578.1

In [142]:
# Challenge 15 
# Which top 3 counties has the highest no. of registered persons with a disability?
# 
mr = D_pct.groupby('county')['total_count'].sum()
mr.sort_values(ascending=False).head(3)

county
Kakamega    27468.9
Homa Bay    23696.8
Vihiga      23490.6
Name: total_count, dtype: float64